.graphContainer {
    background-color: #F5EDE7; /* 배경색 설정 */
    padding: 20px;
    border-radius: 8px;
    height: 100%; /* 컨테이너의 높이를 명확하게 설정 */
    width: 100%; /* 그래프가 전체 너비를 차지하도록 설정 */
  }
  